<div id="nav" ng-controller="NavController">
    <div class="bus-meme-home" ng-click="showHomePage()">
        <img src="../assets/bus-meme-logo.svg"/>BUS MEME GENERATOR
    </div>
    <div class="new-meme" ng-click="showHomePage()">
        <img src="../assets/plus.svg"/><span>Create a meme</span>
    </div>
    <div class="about" ng-click="showAbout()">
        <img src="../assets/about.svg"/><span>About</span>
    </div>
    <div class="gallery" ng-click="showGallery()">
        <img src="../assets/gallery.png"/><span>Gallery</span>
    </div>
</div>