<div ng-controller="ExportController">

    <div ng-include src="'views/_nav.html'"></div>

    <div class="create-meme">
        <span ng-click="signOut()">Sign out</span>
    </div>
    <div class="admin-display pure-g">
        <div ng-click="exportUsers()" class="export-header pure-u-1">Export users</div>
        <div ng-click="exportMemeTemplates()" class="export-header pure-u-1">Export meme templates</div>
        <div ng-click="exportImages()" class="export-header pure-u-1">Export images details</div>
    </div>
</div>
