<div ng-controller="ExportController">
    <div id="nav" class="gallery-nav">
        <div class="bus-meme-home" ng-click="showHomePage()">
            <img src="../assets/bus-meme-logo.svg"/>BUS MEME GENERATOR
        </div>
        <div class="create-meme">
            <span ng-click="signOut()">Sign out</span>
        </div>
    </div>
    <div class="admin-display pure-g">
        <div ng-click="exportUsers()" class="export-header pure-u-1">Export users</div>
        <div ng-click="exportMemeTemplates()" class="export-header pure-u-1">Export meme templates</div>
        <div ng-click="exportImages()" class="export-header pure-u-1">Export images details</div>
    </div>
</div>
