<div id="nav" class="gallery-nav">
    <div class="bus-meme-home" ng-click="showHomePage()">
        <img src="../assets/bus-meme-logo.svg"/>BUS MEME GENERATOR
    </div>
    <div class="create-meme" ng-click="showHomePage()">
        <span ng-click="showHomePage()">+ Create Meme</span>
    </div>
</div>
<div ng-controller="ImageViewController">
    <div class="pure-g">
        <div class="pure-u-1-24 pure-u-md-1-12 pure-u-lg-1-6"></div>
        <div class="pure-u-11-12 pure-u-md-5-6 pure-u-lg-2-3">
            <img class="image-view" src="{{imageUrl}}">
        </div>
        <div class="pure-u-1-24 pure-u-md-1-12 pure-u-lg-1-6"></div>
    </div>

</div>