<update-meta property="og:image" content="{{imageUrl}}"></update-meta>
<update-meta property="twitter:image" content="{{imageUrl}}"></update-meta>
<div ng-include src="'views/_nav.html'"></div>
<div ng-controller="ImageViewController">
    <div class="pure-g">
        <div class="pure-u-1-24 pure-u-md-1-12 pure-u-lg-1-6"></div>
        <div class="pure-u-11-12 pure-u-md-5-6 pure-u-lg-2-3">
            <img class="image-view" src="{{imageUrl}}">
        </div>
        <div class="pure-u-1-24 pure-u-md-1-12 pure-u-lg-1-6"></div>
    </div>
</div>