<div id="journey">
    <img src="../assets/step-1.gif"/>
    <div class="instructions">Enter your start and end locations</div>

    <div id="step-1" class="journey-details">
        <div class="start-address">
            <input name="startAddress" type="text" id="start-address" required="Start Address is required" placeholder="Enter start address
            "/>
            <input type="hidden" id="startPostCode" value="">
            <input type="hidden" id="startSuburb" value="">
            <input type="hidden" id="startAddressLat" value="">
            <input type="hidden" id="startAddressLong" value="">
        </div>
        <div class="dest-address">
            <input name="destAddress" type="text" id="dest-address" required="Destination is required" placeholder="Enter destination address"/>
            <input type="hidden" id="destPostCode" value="">
            <input type="hidden" id="destSuburb" value="">
            <input type="hidden" id="destAddressLat" value="">
            <input type="hidden" id="destAddressLong" value="">
        </div>
        <div class="travel-options" ng-controller="TimeController">

            <select class="travel-date" ng-model="selectedDate" ng-options="day as day.label for day in days track by day.dateValue"></select>

            <div class="time-options">
                <br class="input-break"/>
                <input id="top1" class="radiobutton first" type="radio" ng-model="timeOption" name="timeOption" value="after" ng-checked="timeOption=='after'">
                <label for="top1">Leave After</label>
                <br class="input-break"/>
                <input id="top2" class="radiobutton" type="radio" ng-model="timeOption" name="timeOption" value="before" ng-checked="timeOption=='before'">
                <label for="top2">Arrive Before</label>
                <br class="input-break"/>
                <input id="top3" class="radiobutton" type="radio" ng-model="timeOption" name="timeOption" value="first" ng-checked="timeOption=='first'">
                <label for="top3">Earliest Services</label>
                <br class="input-break"/>
                <input id="top4" class="radiobutton" type="radio" ng-model="timeOption" name="timeOption" value="last" ng-checked="timeOption=='last'">
                <label for="top4">Latest Services</label>

            </div>

            <div class="time-spec" ng-show="timeOption == 'before' || timeOption == 'after'">
                <select id="time-spec-hour" ng-model="selectedHour" ng-options="hour for hour in hours"></select>
                <select id="time-spec-minute" ng-model="selectedMinute" ng-options="minute for minute in minutes"></select>
                <select id="time-spec-ampm" ng-model="selectedAmpm" ng-options="ampm for ampm in ampms"></select>
            </div>

            <div class="walking-options">
                Maximum walk:
                <select class="max-walk" ng-model="selectedMaxWalk" ng-options="wo as wo.label for wo in walkingOptions track by wo.value"></select>
            </div>

        </div>
        <div class="travel-comparison">
            <p>Do you have a car?</p>
            <br class="input-break"/>
            <input id="tcm1" class="radiobutton jselector" type="radio" ng-model="transport.mode" value="driving" ng-checked="true">
            <label for="tcm1">Yes, I do</label>
            <br class="input-break"/>
            <input id="tcm2" class="radiobutton jselector second" type="radio" ng-model="transport.mode" value="walking" ng-checked="false"> 
            <label for="tcm2">No, I rely on public transport</label>
        </div>
        <div class="travel-comparison">
            <p>Is the maximum walking distance critical for you?</p>
            <br class="input-break"/>
            <input id="tcp1" class="radiobutton jselector" type="radio" ng-model="transport.preference" value="distance" ng-checked="false">
            <label for="tcp1">Yes, It's more important than travel time</label>
            <br class="input-break"/>
            <input id="tcp2" class="radiobutton jselector second" type="radio" ng-model="transport.preference" value="speed" ng-checked="true">
            <label for="tcp2">No, I'd rather just get there faster</label>
        </div>
        <div id="validation-errors"></div>
        <input class="button next-button" ng-click="getMapData()" ng-show="canProgressToStage2" type="submit" value="Next" />

        <div id="invisible-anchor"></div>
    </div>
</div>