<div id="nav">
	<div class="gallery">
	<img src="../assets/gallery.png"/>Gallery</div>
</div>
<div id="main" ng-controller="MapController">
	<div id="title">
		<div class="first-line">Logan</div>
		<div class="second-line">Bus Meme</div>
		<div class="third-line">Generator</div>
	</div>
	<div id="journey">
	<div>
		<img src="../assets/step-1.gif"/>
		<div class="instructions">Enter your start and end locations</div>

		<div class="journey-details">
			<div class="start-address">
				Enter start address
				<input name="startAddress" type="text" id="start-address" required="Start Address is required" />
				<input type="hidden" id="startPostCode" value="">
				<input type="hidden" id="startAddressLat" value="">
				<input type="hidden" id="startAddressLong" value="">
			</div>
			<div class="dest-address">
				Enter destination address
				<input name="destAddress" type="text" id="dest-address" required="Destination is required" />
				<input type="hidden" id="destPostCode" value="">
				<input type="hidden" id="destAddressLat" value="">
				<input type="hidden" id="destAddressLong" value="">
			</div>
			<div class="travel-comparison">
				<p>Do you have a car?</p>
				<input class="radiobutton" type="radio" name="hascar" value="driving" checked="true"> Yes, I do
					<input class="radiobutton second" type="radio" name="hascar" value="walking"> No, I rely on public transport
			</div>
			<div id="validation-errors"></div>
			<input class="button next-button" ng-click="getMapData()"  type="submit" value="Next"></input>
			</div>
		</div>
	</div>
<div>
<div style='overflow:hidden;height:600px;width:600px;'>
<div id='gmap_canvas' style='height:600px;width:600px;'>
</div>
<script type='text/javascript'>
	
</script>