<div id="share-map" class="share-panel" ng-show="showImage">
    <div  ng-controller="SocialMediaController">
        <img class="step-img" src="../assets/step-3.gif"/>
        <div class="instructions">Share your <span class="hashtag">#publictransportfail</span> with your friends!</div>

        <div class="share-content">
            <div class="share-description">Click on the Facebook or Twitter icons to share your meme. When you do, it will also be saved to our gallery.</div>
            
            <img id="image-to-share" class="meme-image-small" src="{{imageUrl}}"/>

            <div class="social-media-icons">
                <div ng-click="facebookShare()" src="../assets/facebook-white.svg" class="share-icon facebook"></div>
                <div ng-click="twitterShare()" src="../assets/twitter-white.svg" class="share-icon twitter"></div>
            </div>


            <div class="stay-in-touch">
                <div class="instructions" ng-hide="subscribed">Would you like us to contact you with updates?</div>

                <div>
                    <div class="user-input">
                        <span ng-hide="subscribed">
                            <input name="fullName" type="text" ng-model="user.fullName" maxlength="100" id="full-name" placeholder="Full name" />
                            <input name="emailAddress" type="text" ng-model="user.email" maxlength="100" id="email-address" placeholder="Email address (optional)"/>

                            <button class="button subscribe" ng-click="saveUserDetails()">Keep me in the loop!</button>
                        </span>
                    </div>
                    <div class="validation-errors" ng-show="invalidUserInput">Please provide valid name and email if you want to be our friend :)</div>
                    <div class="subscribe-success" ng-show="subscribed">Thanks! We'll be in touch.</div>
                </div>
            </div>
            <div class="share-description bottom">Not the meme you're looking for? Why not <a class="start-over" href ng-click="reloadPage()">start over</a>?</div>
        </div>

        <div class="instructions">Take action!</div>
            <div class="share-content">
                <div class="share-description"> There's $1 Million per year on the line in this Council vote.  Will you join us at Logan City Council to make sure it happens?<br><a class="start-over" href="http://www.qldcommunityalliance.org/council_budget_action">Click here to RSVP</a> for Monday 27th June 9am, at Logan City Council, 150 Wembley Rd, Logan Central.</div>
            </div>
        </div>
    </div>
</div>