input {
    height: 32px;
    margin-right: 0;
    vertical-align: middle;
    font-size: 14px;
    padding-left: 10px;
    border-radius: 3px;
    border:none;
    line-height: 20px;
    font-style: italic;
    margin: 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: $input-bg-color;
    color: $input-color;
    opacity: 0.8;
}

select {
    font-size: 12px;
    border-radius: 3px;
    border:none;
    line-height: 20px;
    margin: 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: $input-bg-color;
    color: $input-color;    
    opacity: 0.8;
}

.button {
    font-size: 16px;
    height: 32px;
    vertical-align: middle;
    max-width: none;
    min-width: 0;
    padding: 0px 24px 0 10px;
    margin: 2px;
    background-color:$button-color;
    color:$input-color;
    border:none;
    border-radius:3px;
    cursor:pointer;
}
.button:hover{
    transform: scale(1.1); 
}

.checkbox{
    text-transform:none;
}