#nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1300;
    height: 10px;

    .gallery{
    	cursor:pointer;
    	color: $input-color;
	    right: 10px;
	    position: fixed;
	    padding: 20px;
	    display:inline-block;
	    
	    img{
	    	display:inline-block;
	    	width:16px;
		    padding-right: 5px;
		    padding-top: 1px;
		    vertical-align: top;
	    }
    }
}