//colors:

$text-color: #FFFA32;
$background-color: #6595FC;
$button-color: #033054;
$link-color: #00B7FF;
$input-color: white;
$input-bg-color: #4769B3;
$separator-color: #547CD4;
$secondary-color: #D8E4E8;
$nav-color:#4468DB;
