@import 'variables';

.about-display{

    padding: 50px;

    .about-header{

        h2{
            font-size:24px;
            margin-bottom: 5px;
            .hashtag{
                color:$text-color;
            }
        }
        .description-line{
            margin-bottom:15px;
            color:$input-color;

            .highlight{
                font-weight:bold;
                color:$text-color;
            }
        }
        p{
            font-size:18px;
            color:$input-color;
        }
    }

    .about-faqs{
        width: 100%;

        h2{
            font-size:24px;
            margin-bottom: 5px;
            color:$text-color;
        }
        p{
            font-size:18px;
            color:$input-color;
        }
    }
}