@import 'variables';

.gallery-display{

    padding: 50px;

	.gallery-header{

		h2{
			font-size:32px;
			margin-bottom: 5px;
		}
		.description-line{
			margin-bottom:15px;
			color:$input-color;
			font-size:18px;

			.hashtag{
				color:$text-color;
			}
		} 
	}

	.filters{
		background-color:$secondary-color;
		border-radius:3px;
		margin-bottom:40px;
	    padding: 10px;
	    color: $nav-color;
		position: relative;

	    .expand{
	    	width:20px;
	    	vertical-align:middle;
	    	cursor:pointer;
	    }
	    input.checkbox {
		    margin: 0 5px;
		}
		.sorting{
			display:inline-block;
			position:absolute;
			right:10px;

			select{
    			background-color: white;
    		}
		}
	}
}

.page-navigation{
	margin-top:40px;

	a{
		color:$input-color;
		padding: 0 5px;
	}
	a.active{
		color:$nav-color;
		font-weight: bold;
	}
}
.gallery-image {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.meme-info{
	color: $input-color;
	margin-top:10px;
	margin-bottom:10px;
    margin-left: 10%;
	span{
		display:block;
    	width: 90%;
        font-size: 18px;
	}

	.more-details-label{
    	cursor:hand;
    	text-decoration:underline;
	}

	.more-details{
	    position: absolute;
	    border: 1pt solid;
	    padding: 5px;
	    background-color: $secondary-color;
	    color: $nav-color;
	    margin-top: -160px;
	    margin-left: 60px;
	    width: 200px;

	    .details-header{
	    	text-decoration:underline;
	    }
		.more-details-content {
		    margin-top: 20px;
		}
	    .close-button{
	    	position:absolute;
	    	cursor:hand;
	    	right: 5px;
	    	top: 5px;
	    	width: 30px;
	    }
	}
}