input {
  height: 32px;
  margin-right: 0;
  vertical-align: middle;
  font-size: 14px;
  padding-left: 10px;
  border-radius: 3px;
  border: none;
  line-height: 20px;
  font-style: italic;
  margin: 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: #4769B3;
  color: white;
  opacity: 0.8; }

select {
  font-size: 12px;
  border-radius: 3px;
  border: none;
  line-height: 20px;
  margin: 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: #4769B3;
  color: white;
  opacity: 0.8; }

.button {
  font-size: 16px;
  height: 32px;
  vertical-align: middle;
  max-width: none;
  min-width: 0;
  padding: 0px 24px 0 10px;
  margin: 2px;
  background-color: #033054;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer; }

.button:hover {
  transform: scale(1.1); }

.checkbox {
  text-transform: none; }

#nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1300;
  height: 10px; }
  #nav .bus-meme-home {
    cursor: pointer;
    font-size: 28px;
    font-weight: bold;
    display: inline-block; }
    #nav .bus-meme-home img {
      width: 46px;
      margin: 10px;
      margin-left: 30px;
      vertical-align: middle; }
  #nav .create-meme {
    display: inline-block;
    right: 10px;
    position: fixed;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    cursor: pointer; }
  #nav .gallery {
    cursor: pointer;
    color: white;
    right: 10px;
    position: fixed;
    padding: 20px;
    display: inline-block; }
    #nav .gallery img {
      display: inline-block;
      width: 16px;
      padding-right: 5px;
      padding-top: 1px;
      vertical-align: top; }

#nav.gallery-nav {
  background-color: #4468DB;
  height: 65px; }

.gallery-display {
  margin-top: 80px; }
  .gallery-display .gallery-header h2 {
    font-size: 32px;
    margin-bottom: 5px; }
  .gallery-display .gallery-header .description-line {
    margin-bottom: 15px;
    color: white;
    font-size: 18px; }
    .gallery-display .gallery-header .description-line .hashtag {
      color: #FFFA32; }
  .gallery-display .filters {
    width: 93%;
    background-color: #D8E4E8;
    border-radius: 3px;
    margin-bottom: 40px;
    padding: 10px;
    color: #4468DB;
    position: relative; }
    .gallery-display .filters .expand {
      width: 20px;
      vertical-align: middle;
      cursor: pointer; }
    .gallery-display .filters input.checkbox {
      margin: 0 5px; }
    .gallery-display .filters .sorting {
      display: inline-block;
      position: absolute;
      right: 10px; }
      .gallery-display .filters .sorting select {
        background-color: white; }

.gallery-image {
  width: 85%;
  width: 80%; }

.meme-info {
  color: white;
  margin-bottom: 10px; }
  .meme-info span {
    display: block;
    width: 90%; }
  .meme-info .more-details-label {
    cursor: hand;
    text-decoration: underline; }
  .meme-info .more-details {
    position: absolute;
    border: 1pt solid;
    padding: 5px;
    background-color: #D8E4E8;
    color: #4468DB;
    margin-top: -160px;
    margin-left: 60px;
    width: 200px; }
    .meme-info .more-details .details-header {
      text-decoration: underline; }
    .meme-info .more-details .more-details-content {
      margin-top: 20px; }
    .meme-info .more-details .close-button {
      position: absolute;
      cursor: hand;
      right: 5px;
      top: 5px;
      width: 30px; }

/*# sourceMappingURL=gallery.css.map */