@import 'variables';
@import 'common';
@import 'nav';

.gallery-display{
	margin-top:80px;
}

.gallery-image {
  width: 85%;
  width: 80%;
}

.meme-info{
	color: $input-color;
	margin-bottom:10px;
	span{
		display:block;
	}
}