@import 'variables';
@import 'common';
@import 'nav';

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height:100%;
	background-color:$background-color;
	color:$text-color;
}

#main{
	text-transform:uppercase;
 
	#title{
		text-align:center;	

		.first-line{
			font-size:56px;
		}
		.second-line{
			font-size:40px;
		}
		.third-line{
			font-size:32px;
		} 
	}
	
	#journey{

		padding-top:50px;
		margin-left:20%;

		img{
			width:32px;
			display: inline-block;
		    vertical-align: top;
		    padding-right: 30px;
		    margin-left:-13px;
		}
		
		#journey-details.done{
    		border-left: thick solid $text-color;
		}

		#journey-details{
			
			padding:30px 0 80px 50px;
    		border-left: thick solid $separator-color;

			.start-address, .dest-address{
				color:$input-color;
				font-size:12px;
				padding: 20px, 0;
				margin-top:10px;
				text-transform:none;
			
				input{
					display:block;
					padding:5px,0;
					width:60%;
					margin-top:5px;
				}
			}

			.travel-options{
				padding: 30px 3px;
			    text-transform: none;
		    	color:$input-color;
		    	font-size:12px;

		    	.time-options{
		    		padding:5px;

		    		input.radiobutton{
		    		    margin-left: 10px;
    					margin-right: 10px;
		    		}
		    	}

		    	.time-spec{
				    margin-left: 15px;
				    margin-top: -5px;
		    	}

			}

			.travel-comparison{
			    text-transform: none;
		    	color:$input-color;
		    	font-size:12px;

		    	p{
		    		margin-bottom:0;
		    		margin-top: 20px;
		    	}
			    input{
			    	display:inline;
			    }
			    input.radiobutton.second {
				    margin-left: 20px;
				}
			}

			.next-button{
				margin-top:20px;
				padding:5px;
				width:10%;
			}
		}
	}
}

.instructions{
	text-transform:uppercase;
	font-size:18px;
	display: inline-block;
	padding-top:5px;
}


a {
  color: $link-color;
}