@import 'variables';
@import 'common';
@import 'nav';

body {
  padding-top: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height:100%;
	background-color:$background-color;
	color:$text-color;
}

.next-button {
  margin-top:30px;
  padding:5px;
  width:10%;
}

#main{
	text-transform:uppercase;
 
	#title{
		text-transform:none;
		text-align:center;	

		.busmeme-logo{
			margin-right: 20px;
			width: 80px;
			display:inline;
		}
		.busmeme-title{
			width: 180px;
			display:inline;
		}
		.description-line{
			margin-top:15px;
			color:$input-color;
			font-size:18px;

			.hashtag{
				color:$text-color;
			}
		}
		.first-line{
			font-size:56px;
		}
		.second-line{
			font-size:40px;
		}

	}
	
	#journey{

		padding-top:30px;
		margin-left:20%;

		img{
			width:32px;
			display: inline-block;
		    vertical-align: top;
		    padding-right: 30px;
		    margin-left:-13px;
		}
		
	}
}

.journey-details{

	#invisible-anchor{
		width:0;height:0;
	}
	padding:30px 0 50px 50px;
	border-left: thick solid $separator-color;

	.start-address, .dest-address{
		color:$input-color;
    	padding-bottom: 10px;
		text-transform:none;

		input{
			display:block;
			padding:5px 10px;
			width:60%;
			margin-top:5px;
		}
	}

	.travel-options{
		padding: 30px 3px 0 0;
		text-transform: none;
		color:$input-color;

		.travel-date{
			width:150px;
		}

		.time-options{
			padding:5px;
			padding-left:3px;

			input.radiobutton{
				margin-left: 20px;
				margin-right: 10px;
			}
			br {
				display: none;
				@media screen and (max-device-width: $max-device-width) and (orientation: portrait){
					display: block;
				}
			}
		}
		.time-spec {
			margin-left: 20px;
			padding-bottom: 15px;
		}
	}

	.travel-comparison{
		text-transform: none;
		color:$input-color;

		p{
			margin-bottom:0;
			margin-top: 20px;
		}
		input{
			margin-left: 20px;
			margin-right: 10px;
		}
		br {
			display: none;
			@media screen and (max-device-width: $max-device-width) and (orientation: portrait){
				display: block;
			}
		}
	}
}

.step-content {

	display: table;
	width: 95%;
	table-layout: fixed;

	.step-left-panel {
		padding: 50px;
		width: 70%;
		display: table-cell;
	}
}

.done {
	border-left: thick solid $text-color !important;
}

.instructions{
	text-transform:uppercase;
	display: inline-block;
	padding-top:5px;
}


a {
  color: $link-color;
}