input {
  height: 32px;
  margin-right: 0;
  vertical-align: middle;
  font-size: 14px;
  padding-left: 10px;
  border-radius: 3px;
  border: none;
  line-height: 20px;
  font-style: italic;
  margin: 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: #4769B3;
  color: white;
  opacity: 0.8; }

select {
  font-size: 12px;
  border-radius: 3px;
  border: none;
  line-height: 20px;
  margin: 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: #4769B3;
  color: white;
  opacity: 0.8; }

.button {
  font-size: 16px;
  height: 32px;
  vertical-align: middle;
  max-width: none;
  min-width: 0;
  padding: 0px 24px 0 10px;
  margin: 2px;
  background-color: #033054;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer; }

.button:hover {
  transform: scale(1.1); }

.checkbox {
  text-transform: none; }

#nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1300;
  height: 10px; }
  #nav .bus-meme-home {
    cursor: pointer;
    font-size: 28px;
    font-weight: bold; }
    #nav .bus-meme-home img {
      width: 46px;
      margin: 10px;
      margin-left: 30px;
      vertical-align: middle; }
  #nav .gallery {
    cursor: pointer;
    color: white;
    right: 10px;
    position: fixed;
    padding: 20px;
    display: inline-block; }
    #nav .gallery img {
      display: inline-block;
      width: 16px;
      padding-right: 5px;
      padding-top: 1px;
      vertical-align: top; }

#nav.gallery-nav {
  background-color: #4468DB;
  height: 65px; }

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  background-color: #6595FC;
  color: #FFFA32; }

#main {
  text-transform: uppercase; }
  #main #title {
    text-transform: none;
    text-align: center; }
    #main #title .busmeme-logo {
      margin-right: 20px;
      width: 130px;
      display: inline; }
    #main #title .busmeme-title {
      width: 250px;
      display: inline; }
    #main #title .description-line {
      margin-top: 15px;
      color: white;
      font-size: 18px; }
      #main #title .description-line .hashtag {
        color: #FFFA32; }
  #main #journey {
    padding-top: 50px;
    margin-left: 20%; }
    #main #journey img {
      width: 32px;
      display: inline-block;
      vertical-align: top;
      padding-right: 30px;
      margin-left: -13px; }

.journey-details {
  padding: 30px 0 50px 50px;
  border-left: thick solid #547CD4; }
  .journey-details #invisible-anchor {
    width: 0;
    height: 0; }
  .journey-details .start-address, .journey-details .dest-address {
    color: white;
    font-size: 12px;
    padding-bottom: 10px;
    text-transform: none; }
    .journey-details .start-address input, .journey-details .dest-address input {
      display: block;
      padding: 5px 10px;
      width: 60%;
      margin-top: 5px; }
  .journey-details .travel-options {
    padding: 30px 3px 0 0;
    text-transform: none;
    color: white;
    font-size: 12px; }
    .journey-details .travel-options .travel-date {
      width: 150px; }
    .journey-details .travel-options .time-options {
      padding: 5px;
      padding-left: 3px; }
      .journey-details .travel-options .time-options input.radiobutton {
        margin-left: 10px;
        margin-right: 10px; }
      .journey-details .travel-options .time-options input.radiobutton.first {
        margin-left: 0; }
    .journey-details .travel-options .time-spec {
      padding-bottom: 15px; }
  .journey-details .travel-comparison {
    text-transform: none;
    color: white;
    font-size: 12px; }
    .journey-details .travel-comparison p {
      margin-bottom: 0;
      margin-top: 20px; }
    .journey-details .travel-comparison input {
      display: inline; }
    .journey-details .travel-comparison input.radiobutton.second {
      margin-left: 20px; }
  .journey-details .next-button {
    margin-top: 20px;
    padding: 5px;
    width: 10%; }

.step-content {
  display: table;
  width: 95%;
  table-layout: fixed; }
  .step-content .step-left-panel {
    padding: 50px;
    width: 70%;
    display: table-cell; }

.done {
  border-left: thick solid #FFFA32 !important; }

.instructions {
  text-transform: uppercase;
  font-size: 18px;
  display: inline-block;
  padding-top: 5px; }

a {
  color: #00B7FF; }

/*# sourceMappingURL=main.css.map */