input {
  height: 32px;
  margin-right: 0;
  vertical-align: middle;
  font-size: 14px;
  padding-left: 10px;
  border-radius: 3px;
  border: none;
  line-height: 20px;
  font-style: italic;
  margin: 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: #4769B3;
  color: white;
  opacity: 0.8; }

.button {
  font-size: 16px;
  height: 32px;
  vertical-align: middle;
  max-width: none;
  min-width: 0;
  padding: 0px 24px 0 10px;
  margin: 2px;
  background-color: #033054;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer; }

.button:hover {
  transform: scale(1.1); }

.checkbox {
  text-transform: none; }

#nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1300;
  height: 90px; }
  #nav .gallery {
    cursor: pointer;
    color: white;
    right: 10px;
    position: fixed;
    padding: 20px;
    display: inline-block; }
    #nav .gallery img {
      display: inline-block;
      width: 16px;
      padding-right: 5px;
      padding-top: 1px;
      vertical-align: top; }

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  background-color: #6595FC;
  color: #FFFA32; }

#main {
  text-transform: uppercase; }
  #main #title {
    text-align: center; }
    #main #title .first-line {
      font-size: 56px; }
    #main #title .second-line {
      font-size: 40px; }
    #main #title .third-line {
      font-size: 32px; }
  #main #journey {
    padding-top: 50px;
    margin-left: 20%; }
    #main #journey img {
      width: 32px;
      display: inline-block;
      vertical-align: top;
      padding-right: 30px;
      margin-left: -13px; }
    #main #journey #journey-details.done {
      border-left: thick solid #FFFA32; }
    #main #journey #journey-details {
      padding: 30px 0 80px 50px;
      border-left: thick solid #547CD4; }
      #main #journey #journey-details .start-address, #main #journey #journey-details .dest-address {
        color: white;
        font-size: 12px;
        padding: 20px, 0;
        margin-top: 10px;
        text-transform: none; }
        #main #journey #journey-details .start-address input, #main #journey #journey-details .dest-address input {
          display: block;
          padding: 5px,0;
          width: 60%;
          margin-top: 5px; }
      #main #journey #journey-details .travel-comparison {
        text-transform: none;
        color: white;
        font-size: 12px; }
        #main #journey #journey-details .travel-comparison p {
          margin-bottom: 0;
          margin-top: 20px; }
        #main #journey #journey-details .travel-comparison input {
          display: inline; }
        #main #journey #journey-details .travel-comparison input.radiobutton.second {
          margin-left: 20px; }
      #main #journey #journey-details .next-button {
        margin-top: 20px;
        padding: 5px;
        width: 10%; }

.instructions {
  text-transform: uppercase;
  font-size: 18px;
  display: inline-block;
  padding-top: 5px; }

a {
  color: #00B7FF; }

/*# sourceMappingURL=main.css.map */