@import 'variables';

#map-results {

  #invisible-map-anchor{
    width:0;height:0;
  }

  margin-left: 20%;
  border-left: thick solid $separator-color;
  height: 950px;
  padding-bottom:55px;

  .empty-space {
    height: 50px;
    border-left: thick solid $text-color;
    margin-left: -5px;
  }

  .step-img {
    width: 32px;
    display: inline-block;
    vertical-align: top;
    padding-right: 30px;
    margin-left: -18px;
    margin-top: -1px;
  }

  .instructions {
    text-transform: uppercase;
    font-size: 18px;
    display: inline-block;
    padding-top: 5px;
  }

  #map-results-content {

      .journey-summary {

        color: $input-color;
        text-transform: none;
        padding-left: 50px;

        .summary-label {
          text-decoration: none;
          display: inline-block;
          width: 10%;
        }

        .summary-content {
          display: inline-block;
          border-bottom: 1px solid $separator-color;
          padding-bottom: 2px;
          width: 48%;
          padding-top: 8px;
        }
      }

      .map-wrapper {
        padding: 30px 0 80px 50px;
        height: 600px !important;
        width: 600px !important;
        
        #gmap-canvas {
          height: 100%;
          width: 100%;
          position:relative;
          z-index:10 !important;
          img {
            max-width: none !important;
            background: none !important;
          }
        }
        #map-status {
          height: 100%;
          width: 100%;
          position:relative;
          z-index:1000 !important;
          background-color: $background-color;
          color: #FFFFFF;
          word-wrap: break-word;
          text-transform: none;
        }
      }
  }
}

#meme-validation{
    margin-left: 10px;
    margin-top: 20px;
}

.map-canvas {
  position: relative;
  width:600px;

  #canvas2{
    position:absolute;
    left:0;
  }
  .map-overlay-hidden {
    display: none;
  }
  .map-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    top: 0;
    opacity: 0.5;
  }
  .templates-menu{
    position:absolute;
    left:0;
    top:0;
    width:20px;
    padding: 2px;
    background-color: $secondary-color;
    border: 2px solid black;
    cursor:pointer;
    border-radius: 3px;
    margin: 6px;
  }
  .templates-menu.unclickable {
    cursor: initial;
  }
  .template-selection-hidden {
    display:none;
  }
  .template-selection {

    position:absolute;
    width: 50%;
    background-color: #123378;
    padding: 10px;
    top: 10px;
    left: 10px;
    margin: 15% 22.5%;

    .message-header {
      padding-bottom: 10px;
    }

    .message-template {
      padding: 10px 5px;
      list-style: none;
    }

    .message-template-list {

      padding-left: 30px;
      cursor: pointer;
      background-color: $separator-color;
      color: $input-color;
      border-radius: 3px;
    }
    .message-template-list.selected {
      color: $separator-color;
      background-color: $input-color;
    }
  }
}

#map-image {
    margin-left: 25px;
    margin-top: 20px;
}

#gallery-image {
  height: 300px;
  width: 320px;
  padding-bottom: 20px;
}