input {
  height: 32px;
  margin-right: 0;
  vertical-align: middle;
  font-size: 14px;
  padding-left: 10px;
  border-radius: 3px;
  border: none;
  line-height: 20px;
  font-style: italic;
  margin: 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: #4769B3;
  color: white;
  opacity: 0.8; }

select {
  font-size: 12px;
  border-radius: 3px;
  border: none;
  line-height: 20px;
  margin: 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: #4769B3;
  color: white;
  opacity: 0.8; }

.button {
  font-size: 16px;
  height: 32px;
  vertical-align: middle;
  max-width: none;
  min-width: 0;
  padding: 0px 24px 0 10px;
  margin: 2px;
  background-color: #033054;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer; }

.button:hover {
  transform: scale(1.1); }

.checkbox {
  text-transform: none; }

#nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1300;
  height: 90px; }
  #nav .gallery {
    cursor: pointer;
    color: white;
    right: 10px;
    position: fixed;
    padding: 20px;
    display: inline-block; }
    #nav .gallery img {
      display: inline-block;
      width: 16px;
      padding-right: 5px;
      padding-top: 1px;
      vertical-align: top; }

#map-results {
  margin-left: 20%;
  border-left: thick solid #547CD4;
  height: 800px; }
  #map-results .empty-space {
    height: 50px;
    border-left: thick solid #FFFA32;
    margin-left: -5px; }
  #map-results .step-img {
    width: 32px;
    display: inline-block;
    vertical-align: top;
    padding-right: 30px;
    margin-left: -18px;
    margin-top: -1px; }
  #map-results .instructions {
    text-transform: uppercase;
    font-size: 18px;
    display: inline-block;
    padding-top: 5px; }
  #map-results #map-results-content {
    display: table;
    width: 95%;
    table-layout: fixed; }
    #map-results #map-results-content .left-panel {
      width: 45%;
      display: table-cell; }
      #map-results #map-results-content .left-panel .journey-summary {
        color: white;
        text-transform: none;
        padding-left: 50px; }
        #map-results #map-results-content .left-panel .journey-summary .summary-label {
          text-decoration: none;
          display: inline-block;
          width: 10%; }
        #map-results #map-results-content .left-panel .journey-summary .summary-content {
          display: inline-block;
          border-bottom: 1px solid #547CD4;
          padding-bottom: 2px;
          width: 79%;
          padding-top: 8px;
          font-size: 12px; }
      #map-results #map-results-content .left-panel .map-wrapper {
        padding: 30px 0 80px 50px;
        height: 600px; }
        #map-results #map-results-content .left-panel .map-wrapper #gmap_canvas {
          height: 100%;
          width: 90%; }
          #map-results #map-results-content .left-panel .map-wrapper #gmap_canvas img {
            max-width: none !important;
            background: none !important; }
    #map-results #map-results-content .right-panel {
      color: white;
      width: 20%;
      display: table-cell; }
      #map-results #map-results-content .right-panel .traveltime-comparison {
        display: table; }
        #map-results #map-results-content .right-panel .traveltime-comparison .traveltime-row {
          display: table-row; }
        #map-results #map-results-content .right-panel .traveltime-comparison .traveltime-column {
          display: table-cell;
          padding-right: 15px;
          text-transform: capitalize; }
      #map-results #map-results-content .right-panel .template-selection {
        padding-top: 15%; }
        #map-results #map-results-content .right-panel .template-selection .message-header {
          padding-bottom: 10px; }
        #map-results #map-results-content .right-panel .template-selection .message-template {
          padding: 10px 5px; }

.map-canvas {
  padding: 50px; }

.map-image {
  width: 600px !important;
  height: 600px !important; }

/*# sourceMappingURL=map.css.map */