@import 'variables';
@import 'common';
@import 'nav';
#gmap_canvas 
{
 	height:600px;
 	width:600px;

	img 
	{
		max-width:none!important;
		background:none!important;
	}
}

#map-results{
	display:none;

	img{
		width:32px;
		display: inline-block;
	    vertical-align: top;
	    padding-right: 30px;
	    margin-left:-18px;
	    margin-top:-1px;
	}

	.map-wrapper{
		padding:30px 0 80px 50px;
	}
}
#map-results.showmap{
	display:block;
	margin-left:20%;
    border-left: thick solid $separator-color;
    height: 800px;

    .empty-space{
    	height:50px;
	    border-left: thick solid $text-color;
	    margin-left: -5px;
    }
}