@import 'variables';
@import 'common';

.share-panel {
	margin-left:20%;
	border-left: thick solid $separator-color;
    padding: 10px 0 50px 50px;

    .instructions{
    	margin-top:-10px;
		font-size: 18px;
		.hashtag{
			text-transform:none;
			color:$input-color;
		}
	}

    .share-content{
    	padding-top: 20px;
    }
}
.subscribe{
	.subscribe-header{
		color:$input-color;
		text-transform:none;
		font-size:12px;
		margin-top:20px;
	}

	.button.subscribe {
	    width: 195px;
	    padding: 15px;
	    margin-top: 10px;
	}
	.subscribe-success{
		margin-top:10px;
	}
}
.stay-in-touch{
	margin-top:20px;
	.validation-errors {
		margin-top:10px;
	}
	.stay-in-touch-title{
	}
	.user-input{
		color:$input-color;
		margin-top:20px;

		input{
			display:inline-block;
		}

		.subscribe{
			text-align: center;
			width: 200px;
		}
	}
}
.share-icon{
	width: 70px;
	height: 80px;
	display: inline-block;
    padding-left: 2%;
	padding-right: 50px;
	cursor: pointer;

}
.share-icon.facebook {
	background: url(../assets/facebook-white.svg) no-repeat 10% center;
}
.share-icon.instagram {
	background: url(../assets/instagram-white.svg) no-repeat 10% center;
}
.share-icon.twitter {
	background: url(../assets/twitter-white.svg) no-repeat 10% center;
}
.share-icon.facebook:hover {
	background: url(../assets/facebook-blue.svg) no-repeat 10% center;
}
.share-icon.instagram:hover {
	background: url(../assets/instagram-orange.svg) no-repeat 10% center;
}
.share-icon.twitter:hover {
	background: url(../assets/twitter-blue.svg) no-repeat 10% center;
}
.meme-image-small{
    margin-top: 30px;
    width: 300px;
    height: 300px;
    border: 1px solid $separator-color;
    border-radius: 3px;
    display:none;
}

.step-img {
	width:32px;
	display: inline-block;
	vertical-align: top;
	padding-right: 30px;
    margin-left: -69px;
    margin-top: -10px;
}
