input {
  height: 32px;
  margin-right: 0;
  vertical-align: middle;
  padding-left: 10px;
  border-radius: 3px;
  border: none;
  line-height: 20px;
  font-style: italic;
  margin: 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: #4769B3;
  color: white;
  opacity: 0.8; }

select {
  border-radius: 3px;
  border: none;
  line-height: 20px;
  margin: 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: #4769B3;
  color: white;
  opacity: 0.8; }

.button {
  height: 32px;
  vertical-align: middle;
  max-width: none;
  min-width: 0;
  padding: 0px 24px 0 10px;
  margin: 2px;
  background-color: #033054;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer; }

.button:hover {
  transform: scale(1.1); }

.checkbox {
  text-transform: none; }

.share-panel {
  margin-left: 20%;
  border-left: thick solid #547CD4;
  padding: 10px 0 50px 50px; }
  .share-panel .instructions {
    margin-top: -10px;
    font-size: 18px; }
    .share-panel .instructions .hashtag {
      text-transform: none;
      color: white; }
  .share-panel .share-content {
    padding-top: 10px; }
    .share-panel .share-content .share-description {
      color: white;
      margin-bottom: 20px;
      text-transform: none; }
    .share-panel .share-content .share-description.bottom {
      margin-top: 20px; }
    .share-panel .share-content .start-over {
      color: #033054; }

.subscribe .subscribe-header {
  color: white;
  text-transform: none;
  font-size: 12px;
  margin-top: 20px; }

.subscribe .button.subscribe {
  width: 195px;
  padding: 15px;
  margin-top: 10px; }

.subscribe .subscribe-success {
  margin-top: 10px; }

.stay-in-touch {
  margin-top: 20px; }
  .stay-in-touch .validation-errors {
    margin-top: 10px; }
  .stay-in-touch .user-input {
    color: white;
    margin-top: 20px; }
    .stay-in-touch .user-input input {
      display: inline-block; }
    .stay-in-touch .user-input .subscribe {
      text-align: center;
      width: 200px; }

.share-icon {
  width: 70px;
  height: 80px;
  display: inline-block;
  padding-left: 2%;
  padding-right: 50px;
  cursor: pointer; }

.share-icon.facebook {
  background: url(../assets/facebook-white.svg) no-repeat 10% center; }

.share-icon.instagram {
  background: url(../assets/instagram-white.svg) no-repeat 10% center; }

.share-icon.twitter {
  background: url(../assets/twitter-white.svg) no-repeat 10% center; }

.share-icon.facebook:hover {
  background: url(../assets/facebook-blue.svg) no-repeat 10% center; }

.share-icon.instagram:hover {
  background: url(../assets/instagram-orange.svg) no-repeat 10% center; }

.share-icon.twitter:hover {
  background: url(../assets/twitter-blue.svg) no-repeat 10% center; }

.meme-image-small {
  margin-top: 30px;
  width: 300px;
  height: 300px;
  border: 1px solid #547CD4;
  border-radius: 3px;
  display: none; }

.step-img {
  width: 32px;
  display: inline-block;
  vertical-align: top;
  padding-right: 30px;
  margin-left: -69px;
  margin-top: -10px; }

/*# sourceMappingURL=share.css.map */