<html ng-app="BusMeme">
	<head>
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
	</head>
	<body>
		<div id="nav">
			<div class="gallery">
			<img src="../assets/gallery.png"/>Gallery</div>
		</div>
		<div id="main">
			<div id="title">
				<div class="first-line">Logan</div>
				<div class="second-line">Bus Meme</div>
				<div class="third-line">Generator</div>
			</div>

			<div id="journey" ng-controller="BusDirections">
				<img src="../assets/step-1.gif"/>
				<div class="instructions">Enter your start and end locations</div>

				<div class="journey-details">
					<div class="start-address">
						Enter start address
						<input ng-model="startAddress" type="text" id="start-address"/>
					</div>
					<div class="dest-address">
						Enter destination address
						<input type="text" id="start-address"/>
					</div>
					<button class="next-button" ng-click="goToMap()">Next</button>
				</div>
			</div>
		</div>
	</body>
</html>
