<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/main.css">
	</head>
	<body>
		<div id="main">
			<div id="title">
				<div class="first-line">Logan</div>
				<div class="second-line">Bus Meme</div>
				<div class="third-line">Generator</div>
			</div>

			<div id="journey">
				<img src="../assets/step-1.gif"/>
				<div class="instructions">Enter your start and end locations</div>

				<div class="journey-details">
					<div class="start-address">
						Enter start address
						<input type="text" id="start-address"/>
					</div>
					<div class="dest-address">
						Enter destination address
						<input type="text" id="start-address"/>
					</div>
					
					<button class="next-button">Next</button>
				</div>
			</div>
		</div>
	</body>
</html>
